<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>FeedThisToThat</servlet-name>
		<servlet-class>feedthistothat.FeedToLJServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>feedthistothat.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedThisToThat</servlet-name>
		<url-pattern>/feedthistothat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
		<servlet>
		 <servlet-name>velocity</servlet-name> 
	 	<servlet-class>org.apache.velocity.tools.view.VelocityViewServlet</servlet-class> 
	 </servlet> 
	 <servlet-mapping> 
	 	<servlet-name>velocity</servlet-name> 
	 	<url-pattern>*.vm</url-pattern> 
	 </servlet-mapping>
	 <servlet-mapping> 
	 	<servlet-name>velocity</servlet-name> 
	 	<url-pattern>*.html</url-pattern> 
	 </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.vm</welcome-file>
	</welcome-file-list>
</web-app>
