body
{
background-color:white;
}
label{
float: left;
width: 9em;
text-align: right;
padding-right:1em;
}
legend
{
font-weight: bolder;
font-size: larger;
}
form
{
/*border:solid 1px #7fe5ff;*/
width: 35em;
/*background-color:f1fcff;*/
}
fieldset
{
background-color: #f0fcff;
margin-bottom: 2em;
width: 32em;
border:solid 1px;
border-color: #467E8D;
border-radius:10px;
}

input.text, textarea{
float: left;
width: 12em;
margin-bottom: 5px;
}
textarea
{
width: 25em;
height: 10em;
}

.boxes{
width: 1em;
}

#submitbutton,#resettemplates{
position:relative;
float:right;
margin-right:2em;
background-color: #f0fcff;
border:1px #467E8D solid;
border-radius:5px;
font-weight:bold;
}

br{
clear: left;
}